.descriptionbox-nav-box {
  border: 1px solid #d0d0d0;
}
.descriptionbox-description {
  border: 1px solid #d0d0d0;
}
@media (max-width: 1280px) {
  .descriptionbox {
    margin: 60px;
  }
}
@media (max-width: 800px) {
  .descriptionbox {
    margin: 60px 20px;
  }
  .descriptionbox-description {
    font-size: 14px;
  }
}
